
.sidebar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.navigations {
  background-color: #ebebeb;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navigations .col-md-7 {
  display: flex;
}
.navigations h3 {
  color: rgba(58, 71, 84, 1);
  padding-top: 13px;
  margin-left: 5px;
}
.navigations .col-md-7 .seller-btn {
  background-color: #fff;
  color: rgba(58, 71, 84, 1);
}
.navigations .col-md-7 ul button {
  border: none;
  font-size: 17px;
  margin-left: 40px;
  margin-right: 5px;
  color: rgba(58, 71, 84, 1);
  margin-top: 8px;
}
.navigations .col-md-7 ul .icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(58, 71, 84, 1);
  margin-top: 9px;
}
.navigations .col-md-7 ul .icons {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 10px;
  color: #ff6600;
  margin-top: 8px;
  border: 1px solid #ff6600;
  border-radius: 50%;
  padding: 2px;
}

.home {
  padding-top: 100px;
}
.home .header-home h2 {
  margin-left: 50px;
  margin-top: 120px;
}

.home .home-card h4 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  margin-top: 70px;
}

.home .home-card .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home .home-card h3 {
  font-size: 30px;
  position: absolute;
  top: 80px;
  left: 80px;
}
.store-type {
  padding-top: 100px;
}
.store-type .store-header {
  background-color: #c6c6c641;
  width: 100%;
  color: rgb(110, 110, 110) !important;
  padding: 10px;
  padding-left: 30px;
  font-size: 25px;
}
.store-type .card_item {
  margin: 10px;
  padding: 20px;
  border: 1px solid #a0a0a0b3 !important;
  height: 350px;
  border-radius: 5px;
}
.store-type .card_item img {
  width: 100%;
  height: 150px;
}
.store-type .card_item .userName {
  text-align: center;
  font-weight: 600;
  color: rgb(44, 44, 44);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.store-type .card_item .details {
  margin-top: 10px;
  color: #2b2b2b;
}
.store-type .form-inline {
  margin-top: 30px;
  margin-left: 15px;
  border: 1px solid rgb(187, 187, 187);
  width: 235px;
  border-radius: 5px;
}

.products {
  margin-top: 150px;
  margin-bottom: 50px;
}
.products .head-product {
  padding-left: 20px;
}
.products .head-product a {
  text-decoration: none;
  padding-right: 5px;
  color: #797979;
}
.products .head-product span {
  color: #797979;
}
.products h4 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(59, 59, 59);
}
.products .nav {
  justify-content: center;
  display: flex;
  list-style: none;
  text-align: center;
}

.products .nav li {
  margin-left: 40px;
}
.products .nav li a {
  text-decoration: none;
  color: rgb(59, 59, 59);
  font-size: 18px;
}
.products li.active {
  border-bottom: 2px solid #ff6600;
}
.products .nav .active {
  color: #ff6600;
}
.products main {
  margin-top: 10px;
}
.products .size {
  margin-top: 10px;
  display: flex;
  text-align: center;
}

.products .product-card {
  margin-top: 50px;
}
.products .product-cards {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 350px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}
.products .product-cards .images {
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
}

.products .pric {
  color: rgba(58, 71, 84, 1);
  height: 30px;
}
.products .product-cards .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(44, 44, 44);
  height: 40px;
}

.products button {
  margin-top: 10px;
  background-color: transparent;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
  color: rgb(0, 0, 0);
}
.products button span {
  display: flex;
}
.products button span .add-cart {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.products h6 {
  background-color: rgb(211, 211, 211);
  padding: 5px 9px;
  color: black;
  border-radius: 50%;
  position: absolute;
  margin-right: 10px;
}
.products .modal-content {
  background-color: #fff;
}

.products .modal-content .modal-body h1 {
  color: #ff6600;
  font-size: 20px;
}
.products .modal-content .modal-body p {
  color: rgb(127, 127, 127);
  font-size: 18px;
  margin-top: 10px;
}
.products .modal-content .cart-prod {
  display: flex;
  padding-top: 15px;
}
.products .modal-content .cart-prod .icons {
  width: 30px;
  height: 30px;
  color: rgba(58, 71, 84, 1);
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}
.products .modal-content .cart-prod button {
  margin-top: -10px;
}
.products .modal-content .cart-prod .counter {
  position: absolute;
  bottom: 20px;
  left: 47px;
  color: rgb(73, 73, 73);
  border-radius: 50%;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}
.footer h6 {
  margin-bottom: 10px;
  font-size: 18px;
}
.footer p {
  padding-bottom: 15px;
}
.footer p a {
  color: white !important;
  text-decoration: none;
}
.footer div {
  color: white !important;
}
.footer .socials {
  display: flex;
  align-items: center;
  text-align: center;
}
.footer .socials li {
  padding-right: 15px;
}
.footer .socials li .social-media {
  width: 25px;
  height: 25px;
  color: white !important;
}
.carousel .header-home {
  margin-bottom: 140px;
}
.carousel .header-home h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.carousel .header-home p {
  color: white;
  margin-bottom: 20px;
  font-size: 19px;
}
.carousel .header-home button {
  background-color: rgba(58, 71, 84, 0.539);
  font-size: 18px;
  padding: 10px 35px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin-top: 20px;
}

.carousel-indicators li {
  color: black;
}
.visually-hidden {
  display: none;
}

.cart-sidebar.show {
  opacity: 1;
}
.carts {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.578);
  transition: opacity 0.5s ease-in-out;
  right: -100%;
}

.cart-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.718);
  z-index: 999;
}
.cart-sidebar.show {
  opacity: 1;
}

.cart-sidebar .cart-item {
  width: 460px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

.cart-sidebar h3 {
  color: black;
  font-size: 25px;
  text-align: right;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}
.cart-sidebar h2 {
  color: black;
  font-size: 17px;
}
.cart-sidebar p {
  color: rgb(101, 101, 101);
  font-size: 15px;
  margin-top: 10px;
}
.cart-sidebar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-sidebar .cart-total h4 {
  font-size: 15px;
  text-align: left;
  color: #797979;
}
.cart-sidebar .cart-total .btn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid rgb(144, 144, 144);
  border-radius: 0px;
  width: 100%;
}
.cart-sidebar .cart-total .submit {
  background-color: #ff6600;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  text-decoration: none;
}
.cart-sidebar .cart-total .send-code {
  width: 100%;
  font-size: 16px;
  color: #797979;
  height: 30px;
}
.cart-sidebar .cart-total input {
  border: none;
  border-bottom: 1px solid rgb(144, 144, 144);
  width: 80%;
}
.cart-sidebar .cart-total .send-code button {
  width: 20%;
  border-radius: 0px;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  color: #ff6600;
}
.cart-sidebar .close {
  color: #b0b0b0;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
}

.hidden {
  display: none;
}

.order {
  padding-top: 100px;
}
.order .header-order {
  padding-top: 5px;
  background-color: #fcfcfce9;
}
.order .header-order h4 {
  color: rgb(84, 84, 84);
  font-size: 17px;
  margin-bottom: 20px;
}
.order .header-order .back-cart {
  padding-left: 70px;
  padding-bottom: 5px;
  padding-top: 8px;
  text-decoration: none;
  display: flex;
  background-color: rgb(239, 239, 239);
  margin-bottom: 40px;
}
.order .header-order .back-cart .icon {
  color: #ff6600;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 6px;
}
.order .header-order .back-cart span {
  color: #ff6600;
  font-size: 20px;
}
.order .order-content h4 {
  color: rgb(58, 58, 58);
  font-size: 18px;
  font-weight: bold;
}
.order .order-content .row {
  border-bottom: 2px solid rgb(215, 215, 215);
  padding-top: 40px;
  padding-bottom: 40px;
}
.order .order-content .head-table {
  margin-top: 30px;
  border-bottom: 2px solid rgb(215, 215, 215);
  padding-top: 20px;
  padding-bottom: 20px;
}
.order .order-content h3 {
  color: #000;
}
.order .order-final {
  margin-top: 20px;
  margin-bottom: 20px;
}
.order .order-final h4 {
  color: #000;
  font-size: 17px;
  margin-bottom: 20px;
}
.order .order-final hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
.about-pages {
  padding-top: 150px;
  padding-bottom: 50px;
}
.about-pages .title {
  color: #ff6600;
  padding: 15px;
  /* color: rgb(75, 75, 75); */
  font-size: 22px;
  font-weight: 500;
}
.about-pages .descraption {
  background-color: white;
  margin-left: -80px;
  z-index: 999;
  padding: 20px;
  color: rgb(129, 129, 129);
  font-size: 15px;
}
.contact-page {
  padding-top: 80px;
}
.contact-page .contact-header h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-page .opacity-contact {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #00000056;
}
.contact-page .contact-header p {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  margin-top: 20px;
  line-height: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 50px;
}
.contact-page .form-contact .social-media {
  margin-top: 80px;
}
.contact-page .form-contact .social-media li a {
  display: flex;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.contact-page li a .icon {
  width: 22px;
  height: 22px;
}
.contact-page .form-contact .social-media li a span {
  margin-left: 20px;
  margin-top: -5px;
}
.contact-forms {
  background-color: rgb(215, 215, 215);
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-forms input {
  margin-bottom: 20px;
}
.contact-forms button {
  background-color: #ff6600;
  color: white;
  padding: 10px 30px;
  margin-top: 20px;
}
.sign-in {
  padding-top: 150px;
}
.sc-dcJsrY .sc-iGgWBj {
  text-decoration: none;
}
.carousel-control-next-icon {
  display: none;
}
.carousel-control-prev-icon {
  display: none;
}
.verification-code {
  align-items: center;
  text-align: center;
  margin-top: 120px;
  padding-bottom: 50px;
  justify-content: center;
}
.verification-code h4 {
  font-size: 30px;
  font-weight: 600;
  color: #797979;
  padding-top: 40px;
}
.verification-code .verification {
  align-items: center;
  color: #ff6600;
  width: 100%;
  margin-top: 30px;
}
.verification-code button {
  background-color: #ff6600;
  color: white;
  padding: 10px 35px;
  border-radius: 5px;
  margin-top: 30px;
}
.verification-code hr {
  margin-bottom: 40px;
  margin-top: 30px;
}
.vi__character {
  width: 100px;
}
.order-details {
  padding-top: 120px;
  padding-bottom: 50px;
}
.order-details h1 {
  text-align: center;
  color: #797979;
  font-size: 25px;
}
.order-details .item {
  background-color: #e2e2e2;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
  border-radius: 5px;
}
.order-details .item .details {
  background-color: #ffffff;
  padding: 5px 20px;
  font-size: 15px;
  border: 1px solid #2b2b2b;
  border-radius: 4px;
  margin-top: 40px;
  color: #2b2b2b;
}
.order-details h3 {
  color: #2b2b2b;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.order-details hr {
  margin-top: 20px;
  margin-bottom: 30px;
}
.order-details .storename {
  background-color: #ff6600;
  color: #ffffff;
  padding: 5px 8px;
  position: absolute;
  top: -25px;
  border-radius: 5px;
}
